html { 
  background: url("img/clmBack.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

h1 {
	display: none;
}

ul {
	position: absolute;
	top: auto;
	height: 25%;
	min-height: 128px;
	right: 0;
	bottom: 0;
	left: 0;
	text-align: center;
	font-color:#fff;
}

li {
	display: inline-block;
	width: 128px;
	height: 128px;
	position: relative;
	top: 50%;
	margin-top: -64px;
}

@font-face {
  font-family: 'Hallo Sans Black';
  src: url(Hallosans.otf); /* IE9 Compat Modes */
}

.social a {
	display: inline-block;
	text-align: center;
	font-weight: bold;
	text-decoration: none;
	font-family: 'Hallo Sans Black', Fallback, sans-serif;



}

.social img {
	display: block;
	width: 30px;
	margin: 0 auto;
	padding-bottom: 30px;

}

.img-zoom {
    width: 310px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
}
 
.transition {
    -webkit-transform: scale(2); 
    -moz-transform: scale(2);
    -o-transform: scale(2);
    transform: scale(2);
}

}

	a span {
		display: none;
		padding: 0;
		text-decoration: none;


	}}
	
	li {
		display: block;
		float: left;
		width: 25%;
		padding: 0 10%;
	}
	
	footer div{ 
		position: fixed; 
		bottom: 0; 
		/*font-size: 0.58;
		text-decoration: white;*/
	}

	

	
	

	